*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
  }
body{
    background-color: #dbdcdd;
    display: flex;
    position: relative;
}
/*-----------------------------------------------------------------*/
/*--------------------------Navbar/menu----------------------------*/
#menu {

    width: 250px;
    height: 100%;
    background: #4e4e4e;
    padding: 30px 0px;
    position: fixed;

}
#menu ul {
    margin-top: 20px;
    list-style-type: none;
}
#menu li a{
    color: rgb(255, 255, 255);
}
#menu li {
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}
#menu li:hover{
    background-color: rgb(236, 236, 236);
    color:  #4e4e4e;
    transition: 0.4s;
}
#main-icon{
    font-family:"Blanka-Regular", serif; 
    font-size: 40px;
    padding-left: 10px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 10px 0px 10px 0px;
    margin:60px;
    color: rgb(255, 255, 255);
}
#main-icon:hover{
    color: #4e4e4e;
    background-color: rgb(255, 255, 255);
}
@font-face {
    font-family: "Blanka-Regular";
    src: url("font/Blanka-Regular.otf") format("opentype");
}

#toggle:checked + #content4toggle #menu #logout{
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

#toggle:checked + #content4toggle #menu #back{
    writing-mode: vertical-rl;
    text-orientation: mixed;

}
#toggle:checked + #content4toggle #menu #login{
    display: none;
}
#toggle:checked + #content4toggle #menu #log{
    display: none;
}
#toggle:checked + #content4toggle #menu #log-text{
    display: none;
}

#log-text {
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding-left: 40px;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#login{
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding-left: 40px;
    padding-top: 10px;
    margin-bottom: 30px;
    padding-bottom: 10px;
}
#log{
    background-color: #8a8a8a;
}
#toggle:checked + #content4toggle #menu{
    width: 50px;
    transition: 0.3s;
}
#toggle:checked + #content4toggle #menu li{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    display: none;
    
}
#toggle:checked + #content4toggle #menu #main-icon{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin-top: 50px;
    padding-left: 30px;
    padding-top: 5px;
    padding-right: 15px;
    line-height: 0vmax;
    padding-bottom: 5px;
    margin-top:50px;
    margin-bottom: 0px;
    margin-left: 0px;
}

#toggle{
    display: none;
}
label{
    z-index: 1;
    position: fixed;
    padding-left: 2px;
}
label img{
    width: 40px;
}

/*-----------------------------------------------------------------------------------*/
/*--------------------------Dashboard-table-content----------------------------------*/
#toggle:checked + #content4toggle #content{
    width: auto;
    margin-left: 100px;
}
#content {
    width: auto;
    margin-left: 300px;
    margin-top: 50px;
}
.dash-table-head th{
    width: 150px;
}

.update-form input, label, select{
    width: 150px;
}
#content p{
    font: 40px sans-serif;
    
}
#adding{
    margin-top: 50px;
}
#find{
    margin-top: 100px;
}
#master-table{
    margin-top: 20px;
}
h3{
    font-size: 40px;
    padding: 20px;
}
.master-table-without-find{
    margin-top: 50px;

}
.new-table-style{
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
}
.new-table-style tr:nth-child(even){
    background-color: #f2f2f2
}
.table-style{
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
}
.table-style tr:nth-child(even){
    background-color: #f2f2f2
}