#menu {
    width: 200px;
}

#content {
    background-color: aqua;
    display: inline;
    height: 200px;
    
}

.dash-table-head th{
    width: 150px;
}

.update-form input, label, select{
    width: 150px;
}