<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet"> 
    <link rel="icon" type="image/png" sizes="16x16" href="static/css/img/icon.png">
    <script src="{{ url_for('static', filename='js/main.js') }}"> </script>
    {% block head %} {% endblock %}
</head>

<body>
    <div id="blur">
        <!-- tady asi bude nejaka lista (navbar) -->
        <div class="menu-mobile"> 
            <label for="toggle"><img src="static/css/img/menu1.png" alt="menu-bars"  class="menu-bars"></label>
            </div>
            <input type="checkbox" id="toggle"/>
        <div class="menu">
            <nav class="main-menu">
                    <a href="{{ url_for('main.onas', id=1) }}" class="main-icon">Rentel</a>
                    
                    <ul>
                
                <li><a class="level" href="{{ url_for('main.onas') }}">O nás</a>
                        <ul>
                            
                            <li><a href="{{ url_for('main.onas') }}">Rentel</a></li>
                            <li><a href="{{ url_for('main.history') }}">Historie</a></li>
                            
                        </ul>
                    </li>
                    
                    <li><a href="{{ url_for('main.index') }}"  class="level" >Hotely</a>
                        <ul>
                                
                            <li><a href="{{ url_for('main.hotel') }}">Praha</a></li>
                            <li><a href="{{ url_for('main.hotel') }}">Brno</a></li>
                            <li><a href="{{ url_for('main.hotel') }}">Olomouc</a></li>
                            <li><a href="{{ url_for('main.hotel') }}">Ostrava</a></li>
                        
                        </ul>
                    </li>
                    <li><a class="level" href="{{ url_for('main.services') }}" >Služby</a>
                        <ul> 
                            
                            <li><a href="{{ url_for('main.ubytovani') }}">Ubytování</a></li>    
                            <li><a href="{{ url_for('main.sport') }}">Sport</a></li>
                            <li><a href="{{ url_for('main.personal') }}">Personál</a></li> 
                        
                        </ul>
                    </li>
                    {% if current_user.is_authenticated %}
                        {% if current_user.isEmployee %}
                            <li><a href="{{url_for('dash.dash_index')}}" class="level">Správa</a></li>
                        {% else %}
                            <li><a href="{{url_for('main.profile')}}"  class="level">{{ current_user.login }}</a></li>
                        {% endif %}
                        <li><a href="{{ url_for('main.logout') }}" class="level" >Odhlásit</a></li>
                    {% else %} 
                        <li><a onclick="openLoginForm()" class="level" >Přihlásit</a></li>
                    {% endif %}
                </ul>
                
            </nav>
        </div>
        
        <h1 class="main-title">
            Rentel
        </h1>
    
    
    {% block body %} 
    {% endblock %}

    </div>

    {% if not current_user.is_authenticated %}
    <div id="login-window">
        <div id="login-option">
            <h1>Přihlášení</h1>
            <hr>
            <form method="POST" action="{{ url_for('main.login') }}">
                <!-- login form -->
                {{ loginForm.hidden_tag() }}
                <div class="form-field">{{ loginForm.login.label }} {{ loginForm.login }}
                    {% if loginForm.login.errors %}
                    <ul class="errors">
                        {% for error in loginForm.login.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-field">{{ loginForm.password.label }} {{ loginForm.password }}
                    {% if loginForm.password.errors %}
                    <ul class="errors">
                        {% for error in loginForm.password.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {{ loginForm.submit }}
            </form>
        </div>
        <div id="register-option">
            <h1>Registrace</h1>
            <hr>
            <form method="POST" action="{{ url_for('main.register') }}">
                {{ registerForm.hidden_tag() }}
                <div class="form-field">{{ registerForm.reg_login.label }} {{ registerForm.reg_login }}
                    {% if registerForm.reg_login.errors %}
                    <ul class="errors">
                        {% for error in registerForm.reg_login.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-field">{{ registerForm.email.label }} {{ registerForm.email }}
                    {% if registerForm.email.errors %}
                        <ul class="errors">
                            {% for error in registerForm.email.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="form-field">{{ registerForm.reg_password.label }} {{ registerForm.reg_password }}
                    {% if registerForm.reg_password.errors %}
                    <ul class="errors">
                        {% for error in registerForm.reg_password.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-field">{{ registerForm.confirmPassword.label }} {{ registerForm.confirmPassword }}
                    {% if registerForm.confirmPassword.errors %}
                    <ul class="errors">
                        {% for error in registerForm.confirmPassword.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {{ registerForm.recaptcha }}
                <hr>
                {{ registerForm.submit }}
            </form>
        </div>
        <button onclick="toggleLoginRegisterOption()" id="login-register-toggle">Registrace</button>
        <hr>
        <button onclick="closeLoginForm()">Exit</button>
    </div>

    {% else %}
   <!-- <form method="POST" action="{{ url_for('main.logout') }}">
        {{ registerForm.hidden_tag() }}
        <input type="submit" value="Logout">
    </form>-->
    {% endif %}

</html>