{% extends 'dashboard_base.html' %}

{% block head %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <script>
        var messages = {{ messages | safe }};
        for (var i=0; i<messages.length; i++) {
            alert(messages[i]);
        }
    </script>
    {% endif %}
{% endwith %}
{% endblock %}

{% block body %}

{% if users %}
    <div class="adding" >
        <h3>Nový uživatel:</h3>
        <table class="new-table-style">
            <tr class="dash-table-head">
                <th>Login</th>
                <th>Heslo</th>
                <th>Email</th>
                <th>Zaměstanec</th>
                <th>Recepční</th>
                <th>Vlastník</th>
                <th>Admin</th>
                <th>Hotel</th>
                <th></th>
            </tr>
            <tr>
                <form class="update-form" method="POST" action="{{url_for('dash.user_create')}}">
                    <th><input type="text" name="login" placeholder="login"></th>
                    <th><input type="text" name="password" placeholder="password"></th>
                    <th><input type="text" name="email" placeholder="email"></th>
                    <th><label class="checkmark"><input id="dash_user_employee_check" type="checkbox" class="checkmark" name="isEmployee" onclick="userCreateController()" checked><span class="checkbox-custom rectangular"></span></label></th>
                    <th><label class="checkmark"><input type="checkbox"  name="isManager"><span class="checkbox-custom rectangular"></span></label></th>
                    <th><label class="checkmark"><input type="checkbox" class="checkmark" name="isOwner"><span class="checkbox-custom rectangular"></span></label></th>
                    <th><label class="checkmark"><input type="checkbox" class="checkmark" name="isAdmin"><span class="checkbox-custom rectangular"></span></label></th>
                    <th><select name="hotel">
                        {% for hotel in hotels %}
                            <option value="{{hotel.id}}">{{hotel.name}}</option>
                        {% endfor %}
                    </select></th>
                    <th><input type="submit" value="Vytvořit"></th>
                
                </form>
            </tr>
        </table> 
    </div> 
    <div class="find" >
        <h3>Hledat login:</h3>
        <form class="update-form" method="POST" action="{{url_for('dash.user_index')}}">
            <input type="text" id="text-find" value="{{filter if filter else ''}}" name="user_filter">
            <input type="submit"  id="button-find" value="Hledat">
        </form>
    </div>  
    <table id="master-table" class="table-style">
        <tr class="dash-table-head">
            <th>Login</th>
            <th>Heslo</th>
            <th>Email</th>
            <th>Zaměstanec</th>
            <th>Recepční</th>
            <th>Vlastník</th>
            <th>Admin</th>
            <th>Hotel</th>
            <th></th>
            <th></th>
        </tr>
    {% for user in users %}
        <tr>
            <form class="update-form" method="POST" action="{{url_for('dash.update_user')}}">
                <input type="hidden" value="{{user.id}}" name="old_id">
                <th><input type="text" value="{{user.login}}" name="login"></th>
                <th><input type="text" value="" name="password"></th>
                {% if user.employees %}
                <th><input type="text" value="{{user.employees.email if user.employees.email else ''}}" name="email"></th>
                <th><label class="checkmark"><input type="checkbox" checked disabled><span class="checkbox-custom rectangular"></span></label></th>
                <th><label class="checkmark"><input type="checkbox" name="isManager" {% if user.employees.isManager %}checked{% endif %}><span class="checkbox-custom rectangular"></span></label></th>
                <th><label class="checkmark"><input type="checkbox" name="isOwner" {% if user.employees.isOwner %}checked{% endif %}><span class="checkbox-custom rectangular"></span></label></th>
                <th><label class="checkmark"><input type="checkbox" name="isAdmin" {% if user.employees.isAdmin %}checked{% endif %}><span class="checkbox-custom rectangular"></span></label></th>
                <th><select name="hotel">
                    {% for hotel in hotels %}
                        <option value="{{hotel.id}}" {% if user.employees.hotel_id == hotel.id %}selected{% endif %}>{{hotel.name}}</option>
                    {% endfor %}
                </select></th>
                {% else %}
                <th><input type="text" value="{{user.customers.email}}" name="email"></th>
                <th><input type="checkbox" class="checkmark" disabled></th>
                <th><input type="checkbox" class="checkmark" disabled></th>
                <th><input type="checkbox" class="checkmark" disabled></th>
                <th><input type="checkbox" class="checkmark" disabled></th>
                <th><select disabled></select>
                {% endif %}
                <th><input type="submit" value="Update"></th>
            </form>
            <form class="update-form" method="POST" action="{{url_for('dash.user_delete')}}">
                <input type="hidden" value="{{user.id}}" name="id">
                <th><input type="submit" value="Delete"></th>
            </form>
        </tr>
    
    {% endfor %}
</table>
{% else %}
    <h2>Žádní uživatelé nebyli nenalezeni.</h2>
    {% if filter %}
        <form method="POST" action="{{url_for('dash.user_index')}}">
            <input type="hidden" name="user_filter">
            <input type="submit" value="Zrušit filtr.">
        </form>
    {% endif %}
{% endif %}

{% endblock %}