{% extends 'dashboard_base.html' %}

{% block head %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <script>
        var messages = {{ messages | safe }};
        for (var i=0; i<messages.length; i++) {
            alert(messages[i]);
        }
    </script>
    {% endif %}
{% endwith %}
{% endblock %}

{% block body %}
{% if reservations %}
    <div class="find" >
        <h3>Hledat login:</h3>
        <form class="update-form" method="POST" action="{{url_for('dash.running_index')}}">
            <input type="text" id="text-find" value="{{filter if filter else ''}}" name="reservation_filter">
            <input type="submit"  id="button-find" value="Hledat">
        </form>
    </div>  
    <table id="master-table" class="table-style">
        <tr class="dash-table-head">
            <th>Login</th>
            <th>Od</th>
            <th>Do</th>
            <th>Cena</th>
            <th>Pobyt zaplacen</th>
            <th>Klíč u zákazníka</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    {% for res in reservations %}
        <tr>
            <form class="update-form" method="POST" action="{{url_for('dash.running_update')}}">
                <input type="hidden" value="{{res.visit.id}}" name="id">
                <th><input type="text" value="{{res.visit.customer_id}}" name="login" disabled></th>
                <th><input type="date" value="{{res.visit.date_from}}" name="date_from" disabled></th>
                <th><input type="date" value="{{res.visit.date_to}}" name="date_to" disabled></th>
                <th><input type="number" step="0.01" value="{{res.visit.price}}" name="price" disabled></th>
                <th><label class="checkmark"><input type="checkbox" name="isPaid" {% if res.is_paid_visit %}checked{% endif %}><span class="checkbox-custom rectangular"></span></label></th>
                <th><label class="checkmark"><input type="checkbox" name="key" {% if res.key_customer %}checked{% endif %}><span class="checkbox-custom rectangular"></span></label></th>
                <th><input type="submit" value="Update"></th>
            </form>
            <form class="update-form" method="POST" action="{{url_for('dash.running_checkout')}}">
                <input type="hidden" value="{{res.visit.id}}" name="id">
                <th><input type="submit" value="Check-out"></th>
            </form>
            <form class="update-form" method="POST" action="{{url_for('dash.running_delete')}}">
                <input type="hidden" value="{{res.visit.id}}" name="id">
                <th><input type="submit" value="Delete"></th>
            </form>
        </tr>
    
    {% endfor %}
</table>
{% else %}
    <h2>Žádné pobyty nebyly nenalezeny.</h2>
    {% if filter %}
        <form method="POST" action="{{url_for('dash.running_index')}}">
            <input type="hidden" name="reservation_filter">
            <input type="submit" value="Zrušit filtr.">
        </form>
    {% endif %}
{% endif %}
{% endblock %}