<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dash_style.css') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/css/img/icon.png">
    <script src="{{ url_for('static', filename='js/main.js') }}"> </script>
    {% block head %} {% endblock %}
</head>

<body>
<label for="toggle"><img src="/static/css/img/minimalize.png" alt="menu-bars"  class="menu-bars"></label>
<input type="checkbox" id="toggle"/>
<div id="content4toggle">
<div id="menu">
    <a href="{{url_for('dash.dash_index')}}" id="main-icon">Rentel</a>
    
    <ul>
    {% if current_user.is_authenticated and current_user.isEmployee %}
        {% if current_user.employees.isAdmin %}
            <li><a href="{{url_for('dash.user_index')}}">Správa uživatelů</a></li>
        {% endif %}
        {% if current_user.employees.isOwner %}
            <a href="{{ url_for('dash.hotel_index') }}"><li>Správa hotelů</li></a>
            <a href="{{ url_for('dash.room_index') }}"><li>Správa pokojů</li></a>
        {% endif %}
        {% if current_user.employees.isManager %}
            <a href="{{ url_for('dash.reservation') }}"><li>Rezervace</li></a>
            <a href="{{ url_for('dash.running') }}"><li>Probíhající pobyty</li></a>
            <a href="{{ url_for('dash.ended') }}"><li>Ukončené pobyty</li></a>
        {% endif %}
    {% endif %}
    </ul>
    <p id = "log-text">Právě přihlášen:</p>
    <p id = "login">Login</p>
    <a href="{{ url_for('main.logout') }}" id="logout">Odhlásit se</a>
    <a href="{{ url_for('main.index') }}" id="back">Zpět</a>
</div>
<div id='content'>
    {% block body %}
    {% endblock %}
</div>
</div>
</body>
</html>