{% extends 'dashboard_base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<h3>Nový hotel:<h3>
    <form class="update-form" method="POST" action="{{url_for('dash.hotel_index')}}">
        <input placeholder="tohle odstranit" disabled>
        <input type="text" name="name" placeholder="Název hotelu">
        <input type="text" name="address" placeholder="Adresa">
        <input type="text" name="description" placeholder="Popis">
        <input type="submit" value="Vytvořit">
    </form>
    <table>
        <tr class="dash-table-head">
            <th>ID</th>
            <th>Název</th>
            <th>Adresa</th>
            <th>Popis</th>
            <th>Místností</th>
            <th>Zaměstnanců</th>
            <th>Obsazených pokojů</th>
            <th>Volných pokojů</th>
        </tr>
    </table>
    {% for hotel in hotels %}
        <div>
        <form class="update-form" method="POST" action="{{url_for('dash.hotel_update')}}">
            <input type="text" value="{{hotel.id}}" name="id" disabled>
            <input type="text" value="{{hotel.name}}" name="name">
            <input type="text" value="{{hotel.address}}" name="address">
            <input type="text" value="{{hotel.description}}" name="description">
            <input type="text" value="{{hotel.rooms|length}}" name="rooms" disabled>
            <input type="text" value="{{hotel.employees|length}}" name="employees" disabled>
            <input type="text" value="{{occup_rooms | intersect(hotel.rooms)}}" name="taken" disabled>
            <input type="text" value="{{hotel.rooms|length - occup_rooms | intersect(hotel.rooms)}}" name="free" disabled>
            <input type="hidden" value="{{hotel.id}}" name="old_id">
            <input type="submit" value="Update">
        </form>
        <form class="update-form" method="POST" action="{{url_for('dash.hotel_delete')}}">
            <input type="hidden" value="{{hotel.id}}" name="id">
            <input type="submit" value="Delete">
        </form>
        </div>
    {% endfor %}
{% endblock %}