{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="content">
    <h1>Naše historie</h1>
    
    <p id="textArea" class="block">
        <div id="history">
        <div id="timeline-content">    
            <ul class="timeline">
              <li class="event" data-date="November 15, 2008">
                <h3>Long and boring title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut aliquip
                     ex ea commodo consequat. Duis aute irure dolor in
                      reprehenderit in voluptate velit esse cillum dolore
                      eu fugiat nulla pariatur. Excepteur sint occaecat cupdatat
                       non proident, sunt in culpa qui officia deserunt mollit
                       anim id est laborum.</p>
              </li>
              <li class="event" data-date="November 15, 2018">
                <h3>Long and boring title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut aliquip
                     ex ea commodo consequat. Duis aute irure dolor in
                      reprehenderit in voluptate velit esse cillum dolore
                      eu fugiat nulla pariatur. Excepteur sint occaecat cupdatat
                       non proident, sunt in culpa qui officia deserunt mollit
                       anim id est laborum.</p>    
              </li>
              <li class="event" id="date" data-date="November 15, 2018">
                <h3>Long and boring title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut aliquip
                     ex ea commodo consequat. Duis aute irure dolor in
                      reprehenderit in voluptate velit esse cillum dolore
                      eu fugiat nulla pariatur. Excepteur sint occaecat cupdatat
                       non proident, sunt in culpa qui officia deserunt mollit
                       anim id est laborum.</p>    
              </li>
              
              <li class="event" data-date="November 15, 2018">
                
                <h3>Long and boring title</h3>
                
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut aliquip
                     ex ea commodo consequat. Duis aute irure dolor in
                      reprehenderit in voluptate velit esse cillum dolore
                      eu fugiat nulla pariatur. Excepteur sint occaecat cupdatat
                       non proident, sunt in culpa qui officia deserunt mollit
                       anim id est laborum.</p>    
              </li>
              <li class="event" data-date="November 30, 2020">
                
                <h3>Long and boring title</h3>
                
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut aliquip
                     ex ea commodo consequat. Duis aute irure dolor in
                      reprehenderit in voluptate velit esse cillum dolore
                      eu fugiat nulla pariatur. Excepteur sint occaecat cupdatat
                       non proident, sunt in culpa qui officia deserunt mollit
                       anim id est laborum.</p>    
              </li>
            </ul>
          </div>
        </div>
    </p> 
</div>
{% endblock %}