{% extends 'base.html' %}

{% block head %}

{% endblock %}


{% block body %}
<div class="content">
    <h1>Hotel ________________</h1>
    
    <p id="textArea" class="block">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc volutpat libero laoreet, faucibus lectus sed,
        aliquam eros. Vivamus pretium, nibh ac fermentum hendrerit, turpis sem efficitur velit, at bibendum metus 
        justo ac lectus. Morbi faucibus vel ante sed volutpat. Nulla nisl lectus, pellentesque vel rutrum quis, 
        tempus eu eros. Vivamus suscipit iaculis libero, quis feugiat lectus interdum non. Duis nec purus gravida,
        viverra dolor at, ullamcorper velit. Donec justo ex, fermentum eget placerat a, lobortis in felis. Donec 
        eleifend ligula et nisi laoreet pretium. Sed justo lacus, elementum eget diam venenatis, lobortis maximus
        est. Maecenas eu ex tristique elit condimentum volutpat at at velit.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc volutpat libero laoreet, faucibus lectus sed,
        aliquam eros. Vivamus pretium, nibh ac fermentum hendrerit, turpis sem efficitur velit, at bibendum metus 
        justo ac lectus. Morbi faucibus vel ante sed volutpat. Nulla nisl lectus, pellentesque vel rutrum quis, 
        tempus eu eros. Vivamus suscipit iaculis libero, quis feugiat lectus interdum non. Duis nec purus gravida,
        viverra dolor at, ullamcorper velit. Donec justo ex, fermentum eget placerat a, lobortis in felis. Donec 
        eleifend ligula et nisi laoreet pretium. Sed justo lacus, elementum eget diam venenatis, lobortis maximus
        est. Maecenas eu ex tristique elit condimentum volutpat at at velit.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc volutpat libero laoreet, faucibus lectus sed,
        aliquam eros. Vivamus pretium, nibh ac fermentum hendrerit, turpis sem efficitur velit, at bibendum metus 
        justo ac lectus. Morbi faucibus vel ante sed volutpat. Nulla nisl lectus, pellentesque vel rutrum quis, 
        tempus eu eros. Vivamus suscipit iaculis libero, quis feugiat lectus interdum non. Duis nec purus gravida,
        viverra dolor at, ullamcorper velit. Donec justo ex, fermentum eget placerat a, lobortis in felis. Donec 
        eleifend ligula et nisi laoreet pretium. Sed justo lacus, elementum eget diam venenatis, lobortis maximus
        est. Maecenas eu ex tristique elit condimentum volutpat at at velit.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc volutpat libero laoreet, faucibus lectus sed,
        aliquam eros. Vivamus pretium, nibh ac fermentum hendrerit, turpis sem efficitur velit, at bibendum metus 
        justo ac lectus. Morbi faucibus vel ante sed volutpat. Nulla nisl lectus, pellentesque vel rutrum quis, 
        tempus eu eros. Vivamus suscipit iaculis libero, quis feugiat lectus interdum non. Duis nec purus gravida,
        viverra dolor at, ullamcorper velit. Donec justo ex, fermentum eget placerat a, lobortis in felis. Donec 
        eleifend ligula et nisi laoreet pretium. Sed justo lacus, elementum eget diam venenatis, lobortis maximus
        est. Maecenas eu ex tristique elit condimentum volutpat at at velit.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc volutpat libero laoreet, faucibus lectus sed,
        aliquam eros. Vivamus pretium, nibh ac fermentum hendrerit, turpis sem efficitur velit, at bibendum metus 
        justo ac lectus. Morbi faucibus vel ante sed volutpat. Nulla nisl lectus, pellentesque vel rutrum quis, 
        tempus eu eros. Vivamus suscipit iaculis libero, quis feugiat lectus interdum non. Duis nec purus gravida,
        viverra dolor at, ullamcorper velit. Donec justo ex, fermentum eget placerat a, lobortis in felis. Donec 
        eleifend ligula et nisi laoreet pretium. Sed justo lacus, elementum eget diam venenatis, lobortis maximus
        est. Maecenas eu ex tristique elit condimentum volutpat at at velit.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc volutpat libero laoreet, faucibus lectus sed,
        aliquam eros. Vivamus pretium, nibh ac fermentum hendrerit, turpis sem efficitur velit, at bibendum metus 
        justo ac lectus. Morbi faucibus vel ante sed volutpat. Nulla nisl lectus, pellentesque vel rutrum quis, 
        tempus eu eros. Vivamus suscipit iaculis libero, quis feugiat lectus interdum non. Duis nec purus gravida,
        viverra dolor at, ullamcorper velit. Donec justo ex, fermentum eget placerat a, lobortis in felis. Donec 
        eleifend ligula et nisi laoreet pretium. Sed justo lacus, elementum eget diam venenatis, lobortis maximus
        est. Maecenas eu ex tristique elit condimentum volutpat at at velit.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc volutpat libero laoreet, faucibus lectus sed,
        aliquam eros. Vivamus pretium, nibh ac fermentum hendrerit, turpis sem efficitur velit, at bibendum metus 
        justo ac lectus. Morbi faucibus vel ante sed volutpat. Nulla nisl lectus, pellentesque vel rutrum quis, 
        tempus eu eros. Vivamus suscipit iaculis libero, quis feugiat lectus interdum non. Duis nec purus gravida,
        viverra dolor at, ullamcorper velit. Donec justo ex, fermentum eget placerat a, lobortis in felis. Donec 
        eleifend ligula et nisi laoreet pretium. Sed justo lacus, elementum eget diam venenatis, lobortis maximus
        est. Maecenas eu ex tristique elit condimentum volutpat at at velit.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc volutpat libero laoreet, faucibus lectus sed,
        aliquam eros. Vivamus pretium, nibh ac fermentum hendrerit, turpis sem efficitur velit, at bibendum metus 
        justo ac lectus. Morbi faucibus vel ante sed volutpat. Nulla nisl lectus, pellentesque vel rutrum quis, 
        tempus eu eros. Vivamus suscipit iaculis libero, quis feugiat lectus interdum non. Duis nec purus gravida,
        viverra dolor at, ullamcorper velit. Donec justo ex, fermentum eget placerat a, lobortis in felis. Donec 
        eleifend ligula et nisi laoreet pretium. Sed justo lacus, elementum eget diam venenatis, lobortis maximus
        est. Maecenas eu ex tristique elit condimentum volutpat at at velit.
            
    </p> 
</div>
{% endblock %}
