{% extends 'base.html' %}

{% block head %}
    <title>Homepage</title>
    <script>
        window.addEventListener("load", function(){
            if ({{ openWindow or 0 }}) {
                openLoginForm();
                if ({{ 1 if registerForm.reg_login.data else 0 }}) {
                    // user wats to register again
                    toggleLoginRegisterOption();
                }
            }
        });
        document.addEventListener("DOMContentLoaded", function(){
            fixMultiFormsIDs();
        });
    </script>
{% endblock %}

{% block body %}
    <h1>Homepage</h1>

    {% if current_user.is_authenticated %} 
        Hi {{ current_user.name }}! 
    {% endif %}

    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
{% endblock %}