{% extends 'base.html' %}

{% block head %}
    <title>Homepage</title>
    <script>
        window.addEventListener("load", function(){
            if ({{ openWindow or 0 }}) {
                openLoginForm();
                if ({{ (1 if registerForm.reg_login.data else 0) if registerForm else 0 }}) {
                    // user wats to register again
                    toggleLoginRegisterOption();
                }
            }
        });
    </script>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Naše hotely</h1>
    <div id="hotely">
        {% for hotel in hotels %}
            {% set fileroute = 'css/img/' + hotel.picture|string() %}
            <div class="hotel">
                <a href="{{ url_for('main.hotel_overview', id=hotel.id) }}">
                    <img src="{{url_for('static', filename=fileroute)}}">
                    <p>{{hotel.name}}</p>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}