{% extends 'base.html' %}

{% block head %}
    <title>Homepage</title>
{% endblock %}

{% block body %}

    <h1>Homepage</h1>
    {% if current_user.is_authenticated %}
        <form method="POST" action="{{ url_for('main.logout') }}">
            <input type="submit" value="Logout">
        </form>
    {% else %}
        <button onclick="openLoginForm()">Login</button>
    {% endif %}
    <br />

    {% if current_user.is_authenticated %} 
        Hi {{ current_user.name }}! 
    {% endif %}

    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
    <h1>Homepage</h1>
{% endblock %}