{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="content">
 
    <h2 class="profile-h">Údaje uživatele</h2>
    <div class="table-div">
        <table class="profile-info">
            <tr>
                <th>Login:</th>
                <th>Login</th>
            </tr>
            <tr>
                <th>Jméno:</th>
                <th>Jmeno</th>
            </tr>
            <tr>
                <th>Příjmení:</th>
                <th>Příjmení</th>
            </tr>
            <tr>
                <th>Email:</th>
                <th>Email</th>
            </tr>
            <tr>
                <th></th>
                <th></th>
            </tr>
            
        </table> 
    </div>
    <h2 class="profile-h">Rezervace uživatele</h2>
    <div class="table-div">
        <table class="profile-table">
            <tr>
                <th>Číslo rezervace</th>
                <th>Hotel</th>
                <th>Pokoj</th>
                <th>Počet lůžek</th>
                <th>Datum od</th>
                <th>Datum do</th>
                <th>Cena</th>
                <th>Jistota</th>
            </tr>
            <tr>
                <th>Číslo rezervace</th>
                <th>Hotel</th>
                <th>Pokoj</th>
                <th>Počet lůžek</th>
                <th>Datum od</th>
                <th>Datum do</th>
                <th>Cena</th>
                <th>Jistota</th>
            </tr>
            <tr>
                <th>Číslo rezervace</th>
                <th>Hotel</th>
                <th>Pokoj</th>
                <th>Počet lůžek</th>
                <th>Datum od</th>
                <th>Datum do</th>
                <th>Cena</th>
                <th>Jistota</th>
            </tr>
        </table> 
    </div>
    <h2 class="profile-h">Aktuální pobyty</h2>
    <div class="table-div">
        <table class="profile-table">
            <tr>
                <th>Číslo rezervace</th>
                <th>Hotel</th>
                <th>Pokoj</th>
                <th>Počet lůžek</th>
                <th>Datum od</th>
                <th>Datum do</th>
                <th>Cena</th>
            </tr>
            <tr>
                <th>Číslo rezervace</th>
                <th>Hotel</th>
                <th>Pokoj</th>
                <th>Počet lůžek</th>
                <th>Datum od</th>
                <th>Datum do</th>
                <th>Cena</th>
            </tr>
            <tr>
                <th>Číslo rezervace</th>
                <th>Hotel</th>
                <th>Pokoj</th>
                <th>Počet lůžek</th>
                <th>Datum od</th>
                <th>Datum do</th>
                <th>Cena</th>
            </tr>
            <tr>
                <th>Číslo rezervace</th>
                <th>Hotel</th>
                <th>Pokoj</th>
                <th>Počet lůžek</th>
                <th>Datum od</th>
                <th>Datum do</th>
                <th>Cena</th>
            </tr>
        </table > 
    </div>
    <h2 class="profile-h">Historie pobytů</h2>
    <div class="table-div">
        <table class="profile-table">
            <tr>
                <th>Číslo rezervace</th>
                <th>Hotel</th>
                <th>Pokoj</th>
                <th>Počet lůžek</th>
                <th>Datum od</th>
                <th>Datum do</th>
                <th>Cena</th>
            </tr>
            <tr>
                <th>Číslo rezervace</th>
                <th>Hotel</th>
                <th>Pokoj</th>
                <th>Počet lůžek</th>
                <th>Datum od</th>
                <th>Datum do</th>
                <th>Cena</th>
            </tr>
            <tr>
                <th>Číslo rezervace</th>
                <th>Hotel</th>
                <th>Pokoj</th>
                <th>Počet lůžek</th>
                <th>Datum od</th>
                <th>Datum do</th>
                <th>Cena</th>
            </tr>
            <tr>
                <th>Číslo rezervace</th>
                <th>Hotel</th>
                <th>Pokoj</th>
                <th>Počet lůžek</th>
                <th>Datum od</th>
                <th>Datum do</th>
                <th>Cena</th>
            </tr>
            <tr>
                <th>Číslo rezervace</th>
                <th>Hotel</th>
                <th>Pokoj</th>
                <th>Počet lůžek</th>
                <th>Datum od</th>
                <th>Datum do</th>
                <th>Cena</th>
            </tr>
            <tr>
                <th>Číslo rezervace</th>
                <th>Hotel</th>
                <th>Pokoj</th>
                <th>Počet lůžek</th>
                <th>Datum od</th>
                <th>Datum do</th>
                <th>Cena</th>
            </tr>

            <tr>
                <th>Číslo rezervace</th>
                <th>Hotel</th>
                <th>Pokoj</th>
                <th>Počet lůžek</th>
                <th>Datum od</th>
                <th>Datum do</th>
                <th>Cena</th>
            </tr><tr>
                <th>Číslo rezervace</th>
                <th>Hotel</th>
                <th>Pokoj</th>
                <th>Počet lůžek</th>
                <th>Datum od</th>
                <th>Datum do</th>
                <th>Cena</th>
            </tr>

        </table> 
    </div>
    <p id="textArea" class="block">
       
    </p> 
</div>
{% endblock %}