{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="content">
    <h1>{{hotel.name if hotel.name else ''}}{{' - ' if hotel.name else ''}}Typy pokojů</h1>
    <div class="container1">
        <div class="cards">
          <div class="card economy">
            <h3 class="card-tittle-large">Economy</h3>
            <h5 class="card-tittle-small">Economy</h5>
            <p class="card-description">
            <img class="img-align "src="static/css/img/economy-2.jpg" alt="">
            Lorem ipsum dolor sit amet, consectetur adipisicing
            elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis
            nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore
            eu fugiat nulla pariatur. Excepteur sint occaecat cupdatat
            non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
            </p>
            <a href="{{url_for('main.reservation', id=hotel.id)}}" class="card-cta">Rezervovat</a>
          </div>

          <div class="card bussines">
            <h3 class="card-tittle-large">Bussines</h3>
            <h5 class="card-tittle-small">Bussines</h5>
            <p class="card-description">
            <img class="img-align "src="static/css/img/bussines-1.jpg" alt="">
            Lorem ipsum dolor sit amet, consectetur adipisicing
            elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis
            nostrud exercitation ullamco laboris nisi ut aliquip
             ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore
              eu fugiat nulla pariatur. Excepteur sint occaecat cupdatat
               non proident, sunt in culpa qui officia deserunt mollit
               anim id est laborum.
             </p>
             <a href="{{url_for('main.reservation', id=hotel.id)}}" class="card-cta">Rezervovat</a>

          </div>

          <div class="card premium">
            <h3 class="card-tittle-large">Premium</h3>
            <h5 class="card-tittle-small">Premium</h5>
            <p class="card-description">
            <img class="img-align "src="static/css/img/premium-1.jpg" alt="">
            Lorem ipsum dolor sit amet, consectetur adipisicing
            elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis
            nostrud exercitation ullamco laboris nisi ut aliquip
             ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore
              eu fugiat nulla pariatur. Excepteur sint occaecat cupdatat
               non proident, sunt in culpa qui officia deserunt mollit
               anim id est laborum.
            </p>
            <a href="{{url_for('main.reservation', id=hotel.id)}}" class="card-cta">Rezervovat</a>
          </div>

        </div>
    </div>
    <h1>Hotel {{hotel.name if hotel.name else ''}}{{'' if hotel.name else ''}}</h1>
      <p class="hotel-popis"> {{hotel.description if hotel.description else ''}}{{' ' if hotel.description else ''}}</p>
</div>

{% endblock %}
